TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
DATABASE_URL=./data/prices.db
SCRAPER_HEADLESS=true
SCRAPER_ALLOW_MANUAL_VERIFICATION=false
SCRAPER_WAIT_AFTER_LOAD_MS=3000
WISHLISTS_JSON=[{"name":"Wishlist 1","url":"https://www.buscalibre.com.mx/v2/tu_wishlist_1.html"},{"name":"Wishlist 2","url":"https://www.buscalibre.com.mx/v2/tu_wishlist_2.html"}]
